doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

    link(rel='stylesheet', href='/stylesheets/style.css')

  body

    nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-between.mx-2
      a.navbar-brand(href='/') Home
      a.nav-link(href='/dashboard') Dashboard

    block content
